<div class="container">

  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">

    <div class="form-group row">
      <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">

        <input id="firstname" class="form-control" formControlName="firstName" required>

        <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)" class="alert alert-danger">
          <div *ngIf="firstName.errors.required">First Name is required.</div>
        </div>
      </div>


    </div>

    <div class="form-group row">
      <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input id="lastname" class="form-control" type="text" formControlName="lastName">

        <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)" class="alert alert-danger">
          <div *ngIf="lastName.errors.required">Last Name is required.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input id="email" class="form-control" type="email" formControlName="email">

        <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email is required.</div>
          <div *ngIf="email.errors.email">Must be email.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="dob" class="col-sm-2 col-form-label">DOB</label>
      <div class="col-sm-10">
        <input id="dob" class="form-control" type="date" formControlName="dob" min="1930-01-01" max="2000-01-01"required>


        <div *ngIf="dob.invalid && dob.touched " class="alert alert-danger">
          <div *ngIf="dob.errors.required">Date of birth is required.</div>
        </div>
      </div>
    </div>



    <fieldset class="form-group">
      <div class="row">
        <label class="col-form-label col-sm-2 pt-0">Gender</label>
        <div class="col-sm-10">

          <div class="form-check">
            <input class="form-check-input" type="radio" id="male" formControlName="gender" value="male">
            <label class="form-check-label" for="male">Male</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" id="female" formControlName="gender" value="female">
            <label class="form-check-label" for="female">Female</label>
          </div>

        </div>
      </div>
    </fieldset>


    <div class="form-group row">
      <label for="city" class="col-form-label col-sm-2  ">City:</label>
      <div class="col-sm-10">
        <select id="city" class="form-control" formControlName="city">
          <option *ngFor="let city of cities" [value]="city">{{city}}</option>
        </select>

        <div *ngIf="city.invalid && city.touched " class="alert alert-danger">
          <div *ngIf="city.errors.required">City is required.</div>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="row col-sm-10">

        <div class="item col-sm">

          <input type="checkbox" id="agree" formControlName="agree" required>
          <label for="agree"> I have read and agree to the Terms and Conditions and Privacy Policy</label>

          <div *ngIf="agree.invalid && agree.touched" class="alert alert-danger">
            <div *ngIf="agree.errors.required">You have to agree to the Terms and Conditions and Privacy Policy.</div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <button class="btn btn-primary mb-2" type="submit" [disabled]="regForm.invalid" >Submit</button>
      </div>
    </div>

  </form>


</div>

